<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: head('Hello, Spring Boot!')">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="starter-template.css" rel="stylesheet">

    <title>Hello, Spring Boot!</title>
</head>
<link th:href="@{/css/style.css}" rel="stylesheet">

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common2 :: menu('board')">
    </nav>

    <main role="main" class="container font align-items-center bg-light p-3 mt-5" style="min-height: 25rem; font-style: italic;">
        <h1 class="mt-5 text-center text" >What is <div class="d-inline" id="title">RECOMMENT</div>?</h1>
        <h3 class="mt-5 text-center">RECOMMENT = RECOMMEND + COMMENT</h3>
        <h1 class="mt-5 text-center">원하는 게시판을 상단에서 <div class="d-inline" id="title">선택</div>해 주세요!</h1>

    </main>

    </main>

    <footer th:replace="fragments/common :: footer">
        <div class="container">
            <p class="mb-1">RECOMMENT in 오픈소스웹프로젝트 <br> 2016039082 신효민 / 2020039073 김형태 / 2020038029 이규빈</p>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    </footer>
</body>

</html>