<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: head('Hello, Spring Boot!')">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="starter-template.css" rel="stylesheet">

    <title>Hello, Spring Boot!</title>
</head>
<link th:href="@{/css/style.css}" rel="stylesheet">

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('home')">
    </nav>

    <main role="main" class="container font align-items-center bg-light p-3 mt-5" style="min-height: 25rem; font-style: italic;">
        <h1 class="mt-5 text-center text" >What is <div class="d-inline" id="title">RECOMMENT</div>?</h1>
        <h3 class="mt-5 text-center">RECOMMENT = RECOMMEND + COMMENT</h3>
        <h4 class="mt-5 text-center">RECOMMENT는 여러분들이 좋아하는 동영상을 많은 이용자들에게 <div class="d-inline" id="title">추천</div>할 수 있는 세상을 만들었습니다!</h4>
        <h4 class="mt-5 text-center">다른사람들이 공유한 동영상을 마음껏 구경하고 재밌는  <div class="d-inline" id="title">댓글</div>을 남겨주세요!</h4>
    </main>

    <footer th:replace="fragments/common :: footer">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    </footer>
</body>

</html>