<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/common :: head('게시판')">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="starter-template.css" th:href="@{/starter-template.css}" rel="stylesheet">

    <title>게시판</title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common2 :: menu('board3')">
    </nav>
    <div class="container bg-light">
        <h2>게시판</h2>

        <p th:text="|조회수: ${board.view}|"></p>
        <p>좋아요</p>
        <p th:text="|좋아요: ${board.likes}|"></p>
        <form action="#" th:action="@{/board3/form}" th:object="${board}" method="post">
            <input type="hidden" th:field="*{id}">
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" class="form-control" disabled
                    th:classappend="${#fields.hasErrors('title')} ? 'is-invalid'" id="title" th:field="*{title}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
                    제목 에러 메시지
                </div>
            </div>
            <div>
                <label for="file">사진</label>
            </div>
                <img th:src="@{/files/}+*{filename}" width="500" height="300" id="file" alt="사진"/>
            <div>
                <label class="my-3" for="content">내용</label>
                <textarea class="form-control" id="content" rows="3" th:field="*{content}" disabled
                    th:classappend="${#fields.hasErrors('content')} ? 'is-invalid'"></textarea>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">
                    제목 에러 메시지
                </div>
            </div>
            <div class="form-group my-3">
                <label for="url">주소</label>
                <a id="url" th:text="*{url}" th:href="@{*{url}}">Otto</a>
            </div>
            <div class="text-right">
                <a class="btn btn-secondary" th:href="@{/board3/hate(id=${board.id})}">싫어요</a>
                <a class="btn btn-secondary" th:href="@{/board3/likes(id=${board.id})}">좋아요</a>
                <a class="btn btn-secondary" th:href="@{/board3/list}">취소</a>
                <button type="button" class="btn btn-secondary"
                        sec:authorize="hasRole('ROLE_ADMIN')" th:onclick="|deleteBoard(*{id})|">삭제</button>
                <a type="submit" class="btn btn-secondary" th:classappend="${boardUser} != *{user3.username} ? 'disabled' : ''" th:href="@{/board3/form(id=${board.id})}">수정</a>
            </div>
        </form>
        <div id="comments-list" th:each="comment : ${commentDtos}">
            <div class="card m-2" id="comments-${comment.id}">
                <div class="card-header" th:text="${comment.nickname}">
                    {{nickname}}
                </div>
                <div class="card-body" th:text="${comment.content}">
                    {{body}}
                </div>
                <div class="text-left">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#comment-edit-modal"
                            th:data-bs-id="${comment.id}"
                            th:data-bs-nickname="${comment.nickname}"
                            th:data-bs-body="${comment.content}"
                            th:data-bs-article-id="${board.id}">
                        수정
                    </button>
                    <button type="button" class="btn btn-secondary comment-delete-btn"
                            sec:authorize="hasRole('ROLE_ADMIN')" th:data-comment-id="${comment.id}" >
                        삭제
                    </button>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="comment-edit-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- 댓글 수정 폼-->
                        <form>
                            <!-- 닉네임 입력 -->
                            <div class="mb-3">
                                <label class="form-label">닉네임</label>
                                <input type="text" class="form-control form-control-sm" id="edit-comment-nickname">
                            </div>
                            <!-- 댓글 본문 입력 -->
                            <div class="mb-3">
                                <label class="form-label">댓글 내용</label>
                                <textarea type="text" class="form-control form-control-sm" rows="3" id="edit-comment-body"></textarea>
                            </div>
                            <!-- 히든 인풋 -->

                            <input type="hidden" id="edit-comment-id">
                            <input type="hidden" id="edit-comment-article-id">

                            <!-- 전송 버튼 -->
                            <button type="button" class="btn btn-outline-primary btn-sm" id="comment-update-btn">수정 완료</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <div class="card m-2" id="comments-new">
            <div class="card-body">
                <!-- 댓글 작성 폼-->
                <form>
                    <!-- 닉네임 입력 -->
                    <div class="mb-3">
                        <label class="form-label">닉네임</label>
                        <input type="text" class="form-control form-control-sm" id="new-comment-nickname">
                    </div>
                    <!-- 댓글 본문 입력 -->
                    <div class="mb-3">
                        <label class="form-label">댓글 내용</label>
                        <textarea type="text" class="form-control form-control-sm" rows="3" id="new-comment-body"></textarea>
                    </div>
                    <!-- 히든 인풋 -->

                    <input type="hidden" id="new-comment-article-id" th:value="${board.id}">

                    <!-- 전송 버튼 -->
                    <button type="button" class="btn btn-outline-primary btn-sm" id="comment-create-btn">댓글 작성</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container m-5">
        </br>
        </br>
    </div>

    <footer th:replace="fragments/common :: footer"></footer>
    <script>
        function deleteBoard(id) {
        //DELETE /api/boards/{id}
        $.ajax({
            url: '/api/boards3/' + id,
            type: 'DELETE',
            success: function(result) {
                console.log('result', result);
                alert('삭제됐습니다.');
                window.location.href='/board3/list';
               }
            });
        }
    </script>
    <script>
  // 댓글 생성 버튼 변수화
  const commentCreateBtn = document.querySelector("#comment-create-btn");
  // 댓글 클릭 이벤트 감지!
  commentCreateBtn.addEventListener("click", function() {
    // 새 댓글 객체 생성
    const comment = {
      nickname: document.querySelector("#new-comment-nickname").value,
      content: document.querySelector("#new-comment-body").value,
      board_id: document.querySelector("#new-comment-article-id").value
    };
    // 댓글 객체 출력
    console.log(comment);
    // fetch() - 비동기 통신을 위한 API
    const url = "/api3/boards/" + comment.board_id + "/comments";
    fetch(url, {
      method: "post",
      body: JSON.stringify(comment),
      headers: {
        "Content-Type": "application/json"
      }
      }).then(response => {
        // http 응답 코드에 따른 메세지 출력
        const msg = (response.ok) ? "댓글이 등록되었습니다." : "댓글 등록 실패..!";
      alert(msg);


      // 현재 페이지 새로고침
      window.location.reload();
    });

  });
    </script>
    <script>
    {
        // 모달 요소 선택

  // 모달 이벤트 감지
  $('#comment-edit-modal').on("show.bs.modal", function(event) {
    // 트리거 버튼 선택
    const triggerBtn = event.relatedTarget;
    // 데이터 가져오기
    const id = triggerBtn.getAttribute("data-bs-id");
    const nickname = triggerBtn.getAttribute("data-bs-nickname");
    const body = triggerBtn.getAttribute("data-bs-body");
    const articleId = triggerBtn.getAttribute("data-bs-article-id");
    console.log(`${id}, ${nickname}, ${body}, ${articleId}`);
    // 데이터를 반영
    document.querySelector("#edit-comment-nickname").value = nickname;
    document.querySelector("#edit-comment-body").value = body;
    document.querySelector("#edit-comment-id").value = id;
    document.querySelector("#edit-comment-article-id").value = articleId;
  });
 }
 {
  // 수정 완료 버튼
  const commentUpdateBtn = document.querySelector("#comment-update-btn");
  // 클릭 이벤트 처리
  commentUpdateBtn.addEventListener("click", function() {
    // 수정 댓글 객체 생성
    const comment = {
      id: document.querySelector("#edit-comment-id").value,
      nickname: document.querySelector("#edit-comment-nickname").value,
      content: document.querySelector("#edit-comment-body").value,
      board_id: document.querySelector("#edit-comment-article-id").value
    };
    console.log(comment);
    // 수정 REST API 호출 - fetch()
    const url = "/api3/comments/" + comment.id;
    fetch(url, {
      method: "PATCH",
      body: JSON.stringify(comment),
      headers: {
        "Content-Type": "application/json"
      }
    }).then(response => {
      // http 응답 코드에 따른 메시지 출력
      const msg = (response.ok) ? "댓글이 수정 되었습니다." : "댓글 수정 실패..!";
      alert(msg);
      // 현재 페이지를 새로고침
      window.location.reload();
    });
  });
}

    </script>
    <script>
        {
        // 삭제 버튼 선택
  const commentDeleteBtns = document.querySelectorAll(".comment-delete-btn");
  // 삭제 버튼 이벤트를 처리
  commentDeleteBtns.forEach(btn => {
    // 각 버튼의 이벤트 처리를 등록
    btn.addEventListener("click", () => {
      // 이벤트 발생 요소를 선택
      const commentDeleteBtn = event.target;
      // 삭제 댓글 id 가져오기
      const commentId = commentDeleteBtn.getAttribute("data-comment-id");
      console.log(`삭제 버튼 클릭: ${commentId}번 댓글`);

       // 삭제 API 호출 및 처리
      const url = `/api3/comments/${commentId}`;
      fetch(url, {
        method: "DELETE"
      }).then(response => {
        // 댓글 삭제 실패 처리
        if (!response.ok) {
          alert("댓글 삭제 실패..!");
          return;
        }
        // 삭제 성공 시, 댓글을 화면에서 지움!
        const msg = "댓글이 삭제되었습니다.";
      alert(msg);

        window.location.reload();
      });

    });
  });

}
    </script>
</body>

</html>